RPC_URL=
ETHERSCAN_API_KEY=
# Specify the chain to deploy on (mainnet or hoodi)
CHAIN=mainnet
# Where to store the deployment artifacts. Default is ./artifacts/local/
ARTIFACTS_DIR=./artifacts/local/
